* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: brown;
} 

nav{
    background-color: orange;
    display:flex;
    height: 10vh;
}

nav .left{
    flex: 70%;
    padding-left: 90px;
    display:flex;
    align-items: center;
}

nav .left li{
    display: inline;
}

nav .left a{
    padding: 25px 12px;
}

nav .left ul li a{
    text-decoration: none;
    color: black;
    padding: 25px 12px;
}

nav .left ul li a:hover{
    background-color: orangered;
}

nav .right{
    flex: 30%;
    display:flex;
    justify-content: end; 
    align-items: center;
    padding-right: 80px;
}

nav .right a{
    background-color: rgb(202, 67, 26);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
}

nav .right a:hover{
    background-color: orangered;
}

.container{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.container .section{
    display: flex;
    width: 80%;
}

.section .left{
    flex: 35%;
}

.container .section .left div{
    border: 2px solid black;                              
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    background-color: rgb(95, 51, 51);
}

.container .section .left div ul li{
    display: inline;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.container .section .left div img{
    width:100%; 
    border-radius: 10px;
}

.container .section .left div p{
    margin-top: 15px;  
    text-align: justify;
    color:white;
}

.container .section .left div table{
    margin-top: 15px; 
    border: 1px solid black;
    width:100%; 
    text-align: center; 
    border-collapse:collapse;
}

.container .section .left div table td{
    font-size: 13px;
}

.section .right{
    flex: 65%;
    padding-left: 80px;
    text-align: justify;
}

.section .right .skill-container{
    display: flex;
}

.section .right p{
    margin-top: 10px;
}

.skill-container{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.skill-container div{
    margin: 10px;
    margin-left: 0px;
    flex: 1;
}

.skill-container div img{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.skill-container div p{
    padding-right: 15px;
}

.section .right .social-media{
    display: flex;
}

.social-media div{
    margin: 10px;
    cursor: pointer;
}

.social-media img{
    width: 50px;
}


/* contact.html */

form{
    width: 400px; 
    margin: 50px auto;
    box-shadow: 0px 0px 5px; 
    border-radius: 5px; 
    border: 1px solid black; 
    padding:20px; 
    background-color: rgb(224, 207, 51); 
}

form h1{
    text-align: center;
}

form div{
    padding: 10px;
}

form div label{
    font-weight:bold; font-size:20px;
}

input[type=text], input[type=number], input[type=email], select, textarea{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
}

form div textarea{
    resize:vertical;
}

form .checkbox1{
    display: flex;
}

form .checkbox1 p{
    padding-left: 10px;
}

form .checkbox2{
    display: flex;
}

form .checkbox2 p{
    padding-left: 10px;
}

button{
    width: 100px; 
    margin: 10px 150px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(0, 89, 255, 0.637);
    color:white;
    border:none;
    cursor:pointer;
    font-size: 12px;
}