* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(88, 76, 76);
} 

nav {
    display: flex;
    background: #f4f3f3;
    height: 7vh;
  }
  
  nav div {
    display: flex;
    align-items: center;
    flex: 50%;
  }
  
  nav div.left-side {
    padding-left: 90px;
  }
  
  nav div.right-side {
    padding-right: 90px;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style-type: none;
    margin-left: 40px;
  }
  
  nav ul li {
    display: inline;
    margin-left: 40px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
  }
  
  nav ul li a.list-active {
    color: #ec4d37;
    font-weight: 700;
  }
  
  nav .right-side a {
    font-size: 15px;
    padding: 8px 20px;
    background-color: #ec4d37;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
  }

.container{
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.container .section{
    display: flex;
    width: 80%;
}

.section .left{
    flex: 35%;
}

.container .section .left div{
    border: 2px solid black;                              
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    background-color: rgb(236, 157, 92);
}

.container .section .left div ul li{
    display: inline;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.container .section .left div img{
    width:100%; 
    border-radius: 10px;
}

.container .section .left div h1{
    color: rgb(255, 60, 1);
}

.container .section .left div p{
    margin-top: 15px;  
    text-align: justify;
    color:rgb(63, 60, 60);
}

.container .section .left div table{
    margin-top: 15px; 
    border: 1px solid black;
    width:100%; 
    text-align: center; 
    border-collapse:collapse;
}

.container .section .left div table td{
    font-size: 13px;
}

.section .right{
    flex: 65%;
    padding-left: 80px;
    text-align: justify;
}

.section .right .skill-container{
    display: flex;
}

.section .right h1{
    color: rgb(255, 60, 1);
}

.section .right p{
    margin-top: 10px;
    color: rgb(236, 220, 200);
}

.skill-container{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.skill-container div h3{
    color: rgb(255, 60, 1);
}

.skill-container div{
    margin: 10px;
    margin-left: 0px;
    flex: 1;
}

.skill-container div img{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.skill-container div p{
    padding-right: 15px;
}

.section .right h5{
    color: cyan;
}

.section .right .social-media{
    display: flex;
}

.social-media div{
    margin: 10px;
    cursor: pointer;
}

.social-media img{
    width: 50px;
}


/* contact.html */

form{
    width: 400px; 
    margin: 50px auto;
    box-shadow: 0px 0px 5px; 
    border-radius: 5px; 
    border: 1px solid black; 
    padding:20px; 
    background-color: rgb(224, 207, 51); 
}

form h1{
    text-align: center;
}

form div{
    padding: 10px;
}

form div label{
    font-weight:bold; font-size:20px;
}

input[type=text], input[type=number], input[type=email], select, textarea{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
}

form div textarea{
    resize:vertical;
}

form .checkbox1{
    display: flex;
}

form .checkbox1 p{
    padding-left: 10px;
}

form .checkbox2{
    display: flex;
}

form .checkbox2 p{
    padding-left: 10px;
}

button{
    width: 100px; 
    margin: 10px 150px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(0, 89, 255, 0.637);
    color:white;
    border:none;
    cursor:pointer;
    font-size: 12px;
}